$font-family: "Roboto", sans-serif;

// Font-sizes
$font-size-h2: 26px;
$font-size-h3: 20px;

// Colors
$color-background: #1f2022;
$color-primary: #1b1b1b;
$color-between: #202020;
$color-secondary: #404040;
$color-body: #c0c0c0;
$color-accent: #f0f0f0;
$color-text-dark: #a8a8a8;
$color-text-darker: #707070;
$color-pure: #fff;

// Breakpoint
$breakpoint-tablet: 425px;
$breakpoint-phone: 600px;

// Mixins

@mixin animated-underline($width, $margin, $leftside: false) {
    &-underline {
        $margin-auto: auto;
        @if $leftside {
            $margin-auto: $margin;
            $margin: auto;
        }
        margin-left: $margin-auto;
        margin-right: $margin;
        width: 0;
        display: block;
        border-bottom: 1px solid $color-accent;
        transition: 0.35s;
    }

    &:hover &-underline {
        width: $width;
    }
}

@mixin appbar {
    padding: 12px 14px;
    display: flex;
    align-items: center;
    width: 100%;
    border-radius: 0 0 5px 5px;
    background: $color-secondary;
    color: $color-accent;
}