$font-family: "Roboto", sans-serif;

// Font-sizes
$font-size-h2: 26px;
$font-size-h3: 20px;

// Colors
$color-background: #3b3b3b;
$color-primary: #181818;
$color-secondary: #303030;
$color-accent: #f0f0f0;
$color-pure: #fff;

// Breakpoint
$breakpoint-tablet: 962px;

// Mixins

@mixin animated-underline($width, $margin, $leftside: false) {
    &-underline {
        $margin-auto: auto;
        @if $leftside {
            $margin-auto: $margin;
            $margin: auto;
        }
        margin-left: $margin-auto;
        margin-right: $margin;
        width: 0;
        display: block;
        border-bottom: 1px solid $color-accent;
        transition: 0.35s;
    }

    &:hover &-underline {
        width: $width;
    }
}

@mixin appbar {
    padding: 12px 14px;
    display: flex;
    align-items: center;
    width: 100%;
    border-radius: 0 0 5px 5px;
    background: $color-secondary;
    color: $color-accent;
}